@import "../../App.scss";

.button-container{
    button{
        min-width: 100px;
        height: 35px;
        background: $primary-green;
        border-radius: 5px;
        border: none;
        color: $primary-dark;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
}

.logo-img{
    width: 100px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
}