* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-dark: #000;
$primary-white: #fff;
$primary-green: rgb(182, 255, 93);
$secondary-green: rgb(25, 34, 15);
$primary-background: rgb(36, 36, 36);